# Dependencies
node_modules

# Build output
dist

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log

# Coverage
coverage/

# Misc
settings.json
.history

.cursor/rules/private